reply tracking2.json
{
  "name": "Reply Tracking - Clean Version",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {
          "readStatus": "unread"
        },
        "options": {
          "downloadAttachments": false
        }
      },
      "id": "gmail-trigger",
      "name": "Gmail Trigger",
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "sender_email",
              "value": "={{ $json.from.match(/[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,}/)[0] }}"
            },
            {
              "name": "subject",
              "value": "={{ $json.subject }}"
            },
            {
              "name": "body",
              "value": "={{ $json.text }}"
            },
            {
              "name": "raw_from",
              "value": "={{ $json.from }}"
            }
          ]
        }
      },
      "id": "extract-email",
      "name": "Extract Sender Email",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "resource": "contact",
        "operation": "search",
        "filterGroups": {
          "filterGroupsUi": {
            "filterGroupValues": [
              {
                "filters": {
                  "filtersUi": {
                    "filterValues": [
                      {
                        "propertyName": "email",
                        "operator": "EQ",
                        "value": "={{ $json.sender_email }}"
                      }
                    ]
                  }
                }
              }
            ]
          }
        }
      },
      "id": "hubspot-search",
      "name": "Search Contact in HubSpot",
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2,
      "position": [700, 300]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.total }}",
              "operation": "larger",
              "value2": 0
            }
          ]
        }
      },
      "id": "if-contact-found",
      "name": "IF Contact Found?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [950, 300]
    },
    {
      "parameters": {
        "resource": "contact",
        "operation": "update",
        "contactId": "={{ $json.results[0].id }}",
        "additionalFields": {
          "properties": [
            {
              "name": "reply_status",
              "value": "Replied"
            },
            {
              "name": "last_reply_at",
              "value": "={{ $now }}"
            }
          ]
        }
      },
      "id": "hubspot-update",
      "name": "Update Contact - Reply Received",
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2,
      "position": [1200, 250]
    },
    {
      "parameters": {
        "resource": "engagement",
        "operation": "create",
        "type": "EMAIL",
        "metadata": {
          "metadataValues": {
            "from": {
              "email": "={{ $node[\"Extract Sender Email\"].json.raw_from }}"
            },
            "to": [
              {
                "email": "myselfgopie@gmail.com"
              }
            ],
            "subject": "={{ $node[\"Extract Sender Email\"].json.subject }}",
            "body": "={{ $node[\"Extract Sender Email\"].json.body }}"
          }
        },
        "additionalFields": {
          "contactIds": "={{ $node[\"hubspot-search\"].json.results[0].id }}"
        }
      },
      "id": "hubspot-log",
      "name": "Log Reply in HubSpot",
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2,
      "position": [1450, 250]
    }
  ],
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Extract Sender Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Sender Email": {
      "main": [
        [
          {
            "node": "Search Contact in HubSpot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Contact in HubSpot": {
      "main": [
        [
          {
            "node": "IF Contact Found?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Contact Found?": {
      "main": [
        [
          {
            "node": "Update Contact - Reply Received",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Update Contact - Reply Received": {
      "main": [
        [
          {
            "node": "Log Reply in HubSpot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  }
}