Reply Tracking.json
{
  "name": "Reply Tracking - Clean Version",
  "nodes": [
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "sender_email",
              "value": "={{ $json[\"From\"].match(/[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,}/)[0] }}"
            },
            {
              "name": "subject",
              "value": "={{ $json[\"Subject\"] }}"
            },
            {
              "name": "raw_from",
              "value": "={{ $json[\"From\"] }}"
            },
            {
              "name": "Body",
              "value": "={{ $json.snippet }}"
            }
          ]
        },
        "options": {}
      },
      "id": "ffe360b3-3375-400f-b518-e11ea8ab0e07",
      "name": "Extract Sender Email",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -480,
        -256
      ]
    },
    {
      "parameters": {
        "authentication": "appToken",
        "operation": "search",
        "filterGroupsUi": {
          "filterGroupsValues": [
            {
              "filtersUi": {
                "filterValues": [
                  {
                    "propertyName": "email|string",
                    "value": "={{ $json.sender_email }}"
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {}
      },
      "id": "3fb82edf-9c2b-4d19-ba58-df84cddf5a57",
      "name": "Search Contact in HubSpot",
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2,
      "position": [
        -256,
        -256
      ],
      "credentials": {
        "hubspotAppToken": {
          "id": "Kb3ov7xgxaIwKHO1",
          "name": "HubSpot account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.total }}",
              "operation": "larger",
              "value2": 0
            }
          ]
        },
        "options": {}
      },
      "id": "321d3fd7-ab64-4462-bc61-b539fc15b872",
      "name": "IF Contact Found?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -32,
        -256
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.hubapi.com/crm/v3/objects/contacts/{{$json.id}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer pat-xxxxx"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"properties\": {\n    \"reply_status\": \"Replied\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        192,
        -256
      ],
      "id": "9bc071f3-3765-4804-8faa-f5dbe5fd6a45",
      "name": "Update Contact - Reply Received1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.hubapi.com/crm/v3/objects/emails",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "=Authorization ",
              "value": "Bearer pat-xxxx"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"properties\": {\n    \"hs_timestamp\": \"{{ Date.now() }}\",\n    \"hs_email_subject\": \"{{ $node['Extract Sender Email'].json.subject }}\",\n    \"hs_email_text\": \"{{ $('Extract Sender Email').item.json.Body }}\",\n    \"hs_email_direction\": \"INCOMING_EMAIL\",\n    \"hs_email_status\": \"SENT\"\n  },\n  \"associations\": [\n    {\n      \"to\": {\n        \"id\": \"{{ $node['Search Contact in HubSpot'].json.id }}\"\n      },\n      \"types\": [\n        {\n          \"associationCategory\": \"HUBSPOT_DEFINED\",\n          \"associationTypeId\": 198\n        }\n      ]\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        416,
        -256
      ],
      "id": "9f702811-d1e6-4d98-9d8f-c871eda53703",
      "name": "Log Reply in HubSpot"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -928,
        -256
      ],
      "id": "ac80b63d-c3d3-4bcd-b5a9-4da84cb81fb0",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "getAll",
        "filters": {
          "labelIds": [
            "INBOX"
          ],
          "readStatus": "unread",
          "receivedAfter": "={{ $now.minus({ days: 1 }) }}"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -704,
        -256
      ],
      "id": "000d49df-9ac6-4faa-a7b0-81b567cc28b9",
      "name": "Get many messages",
      "webhookId": "89074a21-b0b6-4bab-9985-37cc8c1b4685",
      "credentials": {
        "gmailOAuth2": {
          "id": "WfIJ0Z7S5nRjK8wP",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "markAsRead",
        "messageId": "={{ $('Get many messages').item.json.id }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        624,
        -256
      ],
      "id": "6aa00c71-5143-451f-9dc4-5eb2f306a419",
      "name": "Mark a message as read",
      "webhookId": "e3ce2cc0-c1a9-43db-a893-bc19061bca8e",
      "credentials": {
        "gmailOAuth2": {
          "id": "iuAe8KCAhhEGns4B",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Extract Sender Email": {
      "main": [
        [
          {
            "node": "Search Contact in HubSpot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Contact in HubSpot": {
      "main": [
        [
          {
            "node": "IF Contact Found?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Contact Found?": {
      "main": [
        [
          {
            "node": "Update Contact - Reply Received1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Contact - Reply Received1": {
      "main": [
        [
          {
            "node": "Log Reply in HubSpot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get many messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many messages": {
      "main": [
        [
          {
            "node": "Extract Sender Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Reply in HubSpot": {
      "main": [
        [
          {
            "node": "Mark a message as read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "51e74d14-114c-43e9-b5a7-7d236ae622c9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "38f6b3bf77c638917f3fcddeaa4160863b4760c710851f556106a1d6efe29c16"
  },
  "id": "LFQrPGAnTviXJa91",
  "tags": []
}
